*{
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}


img{
    max-width: 100%;
    display: block;
}

/* Header */
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    flex-wrap: wrap;
}
.menu{
    display: flex;
   
}

.menu a{   
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    /* font-size: 25px; */
    font-weight: 800;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    /* background: tomato; */
}

.logo p{    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    padding: 10px;
    font-size: 20px;
    /* background: tomato; */    
}

.logo{
    display: flex;
    color: white;        
    justify-content: space-between;    
    margin-left: 10px;       
    align-items: center;
}

.status a img {
    display: inline-block;
    padding: 10px;
}

/* Footer */
.footer1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: black;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0px;
}
.menufooter{
    display: flex;
   
}

.menufooter a{   
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    /* font-size: 25px; */
    font-weight: 800;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    /* background: tomato; */
    
}

.container-form-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.conta {
    display: inline-block;
    font-weight: 300px;
    font-size: 40px;
}

.form-criarConta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    width: 100%;
    margin: 15px
    
}

.button2 {
    width: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5px;
    padding: 10px;
    
}

.createbtn {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 15px;
    font-size: 20px;        
}

.createbtn:hover {
    background-color: #bd4714;
    cursor: pointer;
}

.enterbtn {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 15px;
    font-size: 20px;    
}

.enterbtn:hover {
    background-color: #bd4714;
    cursor: pointer;
}


input {
    width: 25%;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    background-color: azure;
}



