<footer>
    <section class="footer1">
        <nav class="menufooter menu">
            <ul>
               <li><a href="">TERMOS DE USO</a></li>               
               <li><a href="">SUPORTE</a></li> 
               <li><a href="">SOBRE</a></li>               
            </ul>           
        </nav>
    </section>
</footer>