<header>
    <section class="container">
        <div class="logo">
            <a href="/"><img src="/images/header/Outline/Logo/Vector.png" ></a>
            <p>BIKE SHOP</p>
        </div>
        <nav class="menu">
            <ul>
           <li> <a href="/bikes/bikes">BIKES</a> </li>
           <li> <a href="/pecas/pecas">PEÇAS</a> </li>
           <li> <a href="/acessorios/acessorios">ACESSÓRIOS</a> </li>
           <li> <a href="">OFICINA</a> </li>
        </ul>
        </nav>
        <nav class="status">
            <a href=""><img src="/images/header/Outline/Shapes/heart.png"></a>
            <a href=""><img src="/images/header/Outline/Shopping/cart.png"></a>
            <a href="/users/login"><img src="/images/header/Outline/Users/profile.png"></a>
        </nav>
    </section>
</header>