<header>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Importando respositório de emoji-->
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <!-- SEO -->
        <meta property="og:title" content="How Many NODE Developers are in the World" /> 
        <meta name="description" content="The number of software developers in the US is around 3.4 million | How many JavaScript, PHP, Python and mobile app developers are there in the world and what are the most used programming languages"> 
        <meta property="og:description" content="The number of software developers in the US is around 3.4 million | How many JavaScript, PHP, Python and mobile app developers are there in the world and what are the most used programming languages" /> 
        <meta name="keywords" content="PHP developer, .NET developer, Android developer, iOS developer, Java developer, Ruby on Rails developer, Python developer, Magento Developer">
    <section class="container">
        <div class="logo">
            <a href="/index"><img src="/images/header/Outline/Logo/Vector.png" ></a>
            <p>BIKE SHOP</p>
        </div>
        <nav class="menu">
        <ul>
           <li> <a href="/bikes/bikes">BIKES</a> </li>
           <li> <a href="/pecas/pecas">PEÇAS</a> </li>
           <li> <a href="/acessorios/acessorios">ACESSÓRIOS</a> </li>
           <!-- <li> <a href="">OFICINA</a> </li> -->
        </ul>
    </nav>
    <div class="buscar">
        <form onsubmit="event.preventDefault();" role="search">
            <label for="search"> Procurar </label>
            <input id="search" type="search" placeholder="Procurar..." autofocus required />
            <button type="submit">BUSCAR</button>    
        </form>

    </div>
        <nav class="status">
            <a href=""><img src="/images/header/Outline/Shapes/heart.png"></a>
            <a href=""><img src="/images/header/Outline/Shopping/cart.png"></a>
            <a href="/users/login"><img src="/images/header/Outline/Users/profile.png"></a>
        </nav>
    </section>
</header>