<header>
    <section class="container">
        <div class="logo">
            <a href="/index"><img src="/images/header/Outline/Logo/Vector.png"></a>
            <p>BIKE SHOP</p>
        </div>
        <nav class="menu">
            <ul>
                <li> <a href="/bicicletas/bicicletas">BIKES</a> </li>
                <li> <a href="/pecas/pecas">PEÇAS</a> </li>
                <li> <a href="/acessorios/acessorios">ACESSÓRIOS</a> </li>
            </ul>
        </nav>
        <!-- <div class="buscar">
            <form onsubmit="event.preventDefault();" role="search">
                <label for="search"> Procurar </label>
                <input id="search" type="search" placeholder="Procurar..." autofocus required />
                <button type="submit">BUSCAR</button>
            </form>
        </div>         -->
        <!-- <nav class="status">
            <a href=""><img src="/images/header/Outline/Shapes/heart.png"></a>
        </nav> -->
        <nav class="dropdown">
            <ul>
                <a href="/carrinho/carrinho"><img src="/images/header/Outline/Shopping/cart.png"></a>
                <li><a href=""><img src="/images/header/Outline/Users/profile.png"></a>
                    <ul>
                        <li><a href="/users/cadastro">Cadastro</a></li>
                        <li><a href="/users/login">Login</a></li>
                        <li><a href="/users/perfil">Perfil</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </section>
</header>