<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrinho</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https: //fonts.googleapis.com/css2? familia= Nunito+Sans:wght@400;700 & display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/carrinho.css" />
    <script src="/javascripts/logicaCarrinho.js" defer></script>
  </head>

  <body>
    <header>
      <h1><a href="/index">Meu Carrinho</a></h1>
    </header>
    <main>
      <div class="title">
        <h2>Produtos</h2>
        <span>Lista de produto</span>
      </div>
        <div class="content">
          <table border="1">
            <thead>
              <span id="idSpan"></span>

              <th class="center">Produto</th>
              <th class="center">Preço</th>
            </thead>
            <tbody id="tbody"></tbody>
          </table>
        </div>
        <div id="viewSessionSotorage">
        </div>
      </div>
      <div class="conteinerTotal">
        <div class="checkout">
      <button onclick="finalizar()">Finalizar</button>
      <button onclick="cancelar()">Cancelar</button>
        </div>
      <p class="classTotal" id="total"></p>
      </div>
    </main>
  </body>
</html>
