<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https: //fonts.googleapis.com/css2? familia= Nunito+Sans:wght@400;700 & display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/carrinho.css">
    <!-- <script src="/javascripts/carrinho.js" defer></script> -->
</head>

<body>
    <header>
        <h1><a href="/index">Meu Carrinho</a></h1>
    </header>
    <main>
        <div class="title">
            <!-- <h2>Produtos</h2> -->
            <!-- <span>Lista de produto</span> -->
        </div>
        <div class="card">
            <!-- <div class="lineInput">
                <label>Produto</label>
                <input type="text" id="produto" placeholder="Nome do produto">
            </div>
            <div class="lineInput">
                <label>Preço</label>
                <input type="text" id="preco" placeholder="Preço do produto">
            </div> -->
            <div class="content">
                <table border="1">
                    <thead>
                        <th class="center">ID</th>
                        <th class="center">Produto</th>
                        <th class="center">Valor</th>
                        <th class="center">Ações</th>
                    </thead>
                    <tbody id="tbody">
                        
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <button onclick="produto.salvar()">Salvar</button>
        <button onclick="produto.cancelar()">Cancelar</button> -->
    </main>
</body>

</html>