<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIKE SHOP</title>
    <link href="/stylesheets/cadastroform.css" rel="stylesheet" />
</head>

<body>
    <%- include('../partials/header.ejs') %>
    
    <section>
        <div class="container-form-cadastro">
            <div class="container-cadastro">
                <span class="conta">
                    Criar seu cadastro
                </span>
            </div>

            <form class="form-criarConta" action="/users/cadastro" method="post">

                <label for="name">Nome completo</label>
                <input type="name" name="name" id="name" required>
<!-- 
                <label for="sobrenome">Sobrenome</label>
                <input type="sobrenome" name="sobrenome" id="sobrenome" required> -->

                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" required>

                <label for="password">Senha</label>
                <input type="password" name="password" id="password">

                <!-- <label for="confirmar">Confirmar Senha</label> -->
                <!-- <input type="password" name="confirmpassaword" id="confirm" required> -->

                <div class="button2">
                    <button class="createbtn"> Criar cadastro </button>
                    
                </div>
                <div>
                    <a>Já tem cadasto?</a>
                    <a class="entrar" href="/users/login">Entrar</a>
                </div>
                

            </form>

            
        </div>
    </section>
    <%- include('../partials/footer.ejs') %>
</body>

</html>