<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIKE SHOP</title>
    <link href="/stylesheets/loginform.css" rel="stylesheet" />
</head>

<body>
    <%- include('../partials/header.ejs') %>

        <div class="container-form">

            <div class="container-login">
                <span class="login">
                    Login do Cliente
                </span>
            </div>

            <form class="form-login" action="/users/login" method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>

                <label for="password">Senha</label>
                <input type="password" name="senha" id="senha" required>

                <!-- <div class="lembrete">
                    <ul>
                        <li> Lembrar-me <input type="checkbox" name="check" id="check"></li>
                        <li><a href=""> Lembrar senha? </a></li>
                    </ul>
                </div> -->

                <div class="button">
                    <button class="enterbtn"> Entrar </button>
                    <button class="createbtn"><a href="/users/cadastro"> Cadastre-se </a></button>
                </div>

            </form>
            
        </div>
        <!-- <%- include('../partials/footer.ejs') %> -->
</body>

</html>