<!DOCTYPE html>
<html lang="br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BIKE SHOP</title>
    <link href="/stylesheets/perfil.css" rel="stylesheet" />
    <link href="/stylesheets/mudarSenha.css" rel="stylesheet" />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <section class="formMudarSenha">
      <h2>MUDAR SENHA</h2>
        <form class="form-criarConta" action="/users/perfil/senha" method="POST">
            <label for="email">Insira o email cadastrado:</label>
            <input
                type="email"
                name="email"
                required
            />
            <label for="email">Insira a nova senha:</label>
            <input
                type="password"
                name="senha"
                required
            />
            <button class="createbtn" type="submit" id="botao"  >Alterar</button>
            <span><%= message %></span>
            <input type="hidden" name="_method" value="PUT">
        </form>
    </section>
    <%- include('../partials/footer.ejs') %>
  </body>
  
</html>